body {
    height: 100vh;
    overflow-y: hidden;
}

.navbar {
    color: white;
    background: black;
    width: 100%;
    font-size: 30px;
}

main {
    height: 100%;
    background: aliceblue;
}

.top {
    width: 100%;
    height: 50%;
    display: flex;
    border-bottom: thin solid black;
    font-size: 13px;
}

.bottom {
    width: 100%;
    height: 50%;
    display: flex;
    border-top: thin solid black;
}

#sensor-info {
    width: 60%;
    height: 100%;
    padding-top: 15px;
    border-right: thin solid black;
}

#sensor-log {
    overflow-y: scroll;
    width: 40%;
    height: 100%;
    padding-top: 15px;
    background: rgb(39, 39, 39);
    color: whitesmoke;
    font-family: 'Fira Code', monospace;
}

#motor-control {
    display: flex;
}